<%= form_for(@publication) do |f| %>
  <div class="formsection">
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </div>
  <div class="formsection">
    <%= f.label :first_author %>
    <%= collection_select(:publication, :first_author_id, Author.all, :id, :auth_name) %>
  </div>
  <div class="formsection">
    <%= f.label :second_author %>
    <%= collection_select(:publication, :second_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
  </div>
  <div class="formsection">
    <%= f.label :third_author %>
    <%= collection_select(:publication, :third_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
  </div>
  <div class="formsection">
    <%= f.label :target_journal %>
    <%= collection_select(:publication, :target_journal_id, Journal.all, :id, :journal_abbr) %>
  </div>
  <div class="formsection">
    <%= f.label :paper_deadline %>
    <%= f.date_select :deadline, :include_blank => "--", :start_year => 2012, :date_separator => '/' %>
  </div>
    <% @publication.pub_statuses.each_with_index do |s, key| %>
    <div class="formsection">
      <%= f.fields_for :pub_statuses, s do |g| %>
        <div class="field">
        <table>
          <tr>
            <td class="lalign">
              <%= g.label :status_id, "Status ##{key+1}" %>
            </td>
            <td class="ralign">
              <strong><%= "Delete Status ##{key+1}?" %></strong>
              <%= g.check_box :_destroy %>
            </td>
          </tr>
        </table>
        </div>
        <div class="field">
          <%= g.label :select_status %>
          <%= g.collection_select(:status_id, Status.all, :id, :status_str, {:include_blank => '--'}) %><%= g.collection_select(:person_responsible_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
        </div>
        <div class="field">
          <%= g.label :description %>
          <%= g.text_field :description %>
        </div>
        <div class="field">
          <%= g.label :due_date %>
          <%= g.date_select :due_date, :include_blank => true, :start_year => 2012, :date_separator => '/' %>
        </div>
      <% end %>
    </div>
    <% end %>
  <div class="actions">
    <p><%= f.submit "Update" %></p>
  </div>
<% end %>
