<%= form_for(@publication, :class => 'form-horizontal') do |f| %>
  
  <% if @publication.errors.any? %><!--begin submit errors-->
    <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">x</button>
      <p><strong><%= pluralize(@publication.errors.count, "error") %>
          prohibited this publication from being saved:</p></strong>
      <p>There were problems with the following fields:</p>
      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div><!--end submit errors-->
  <% end %>
  
  <div class="formsection">
    <table><tr><td>
        <%= f.label :topic %>
        <%= f.text_field :topic %>
    </td><td>
        <%= f.label :target_journal %>
        <%= collection_select(:publication, :target_journal_id, Journal.all, :id, :journal_abbr, {:include_blank => '--'}) %>
    </td><td>
        <%= f.label :deadline %>
        <%= f.text_field :deadline %>
    </td></tr></table>
  </div>

  <div class="formsection">
    <table>
      <tr><td>
          <%= f.label :first_author %>
          <%= collection_select(:publication, :first_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td><td>
          <%= f.label :second_author %>
          <%= collection_select(:publication, :second_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td><td>
          <%= f.label :third_author %>
          <%= collection_select(:publication, :third_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
    </tr></table>
  </div>

  <div class="formsection">
    <table>
      <tr>
      <td class='ralign'>
      <p><div class="ui-icon ui-icon-help" title='This is the person responsible for keeping this publication up to date'></div>
      </p>
      </td>
      <td>
          <b><%= f.label :responsible_person %> </b>
          <%= collection_select(:publication, :responsible_person_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td><td>
          <%= f.label :proofreader %>
          <%= collection_select(:publication, :proofreader_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td></tr></table>
  </div>

  <div class="actions">
    <p><%= f.submit "Save" %></p>
  </div>
<% end %>


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Status(es)</a></li>
        <li><a href="#tabs-2">Attachment(s)</a></li>
        <li><a href="#tabs-3">Referee(s)</a></li>
    </ul>
    <div id="tabs-1">
    <p class="text-error">REMEMBER TO SAVE AFTER ADDING A NEW STATUS OR DELETING AN OLD ONE</p>
    <p>
<%= form_for(@publication) do |f| %>
<%= f.fields_for :pub_statuses do |builder| %>
  <%= render 'pub_status_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add Status", f, :pub_statuses %>
  <div class="actions">
    <a href="#" id="status_save" class='btn disabled'>SAVE</a>
  </div>
<% end %>
</p>
    </div>
    <div id="tabs-2">
<%= form_for(@publication) do |f| %>
    <% @publication.attachments.each_with_index do |s, key| %>
    <div class="formsection">
      <%= f.fields_for :attachments, s do |g| %>
        <div class="field">
        <table>
          <tr>
            <td class="lalign">
              <%= g.label :attachment, "Attachment ##{key+1}" %>
            </td>
            <td class="ralign">
              <strong><%= "Delete attachment ##{key+1}?" %></strong>
              <%= g.check_box :_destroy %><br />
            </td>
          </tr>
        </table>
        </div>
        <div class="field">
        <div class="lalign">
          <strong><%= "#{s.file_name}"  %></strong>
          <% if s.attachment.blank? %>
            <%= g.file_field :attachment, :disable => true %>
           <i> please upload a file </i> 
          <% else %>
            <%= g.file_field :attachment, :disable => true %>
          <% end %>
        </div>
        <div class="ralign">
          <strong>version</strong>
          <%= g.number_field :version, :min => 0 %>
        </div>
        </div>
        <div class="field">
          <%= g.label :comment %>
          <%= g.text_field :comment, :size => 70 %>
        </div>
      <% end %>
    </div>
    <% end %>
  <div class="actions">
    <p><%= f.submit "Save" %></p>
  </div>
<% end %>

    </div>
    <div id="tabs-3">

<%= form_for(@publication) do |f| %>
    <% @publication.pub_refs.each_with_index do |s, key| %>
    <div class="formsection">
      <%= f.fields_for :pub_refs, s do |g| %>
        <div class="field">
        <table>
          <tr>
            <td class="lalign">
              <%= g.label :referee, "Referee ##{key+1}" %>
            </td>
            <td class="ralign">
              <strong><%= "Delete Referee ##{key+1}?" %></strong>
              <%= g.check_box :_destroy %>
            </td>
          </tr>
        </table>
        </div>


        <div class="field">
          <%= g.collection_select(:referee_id, Referee.all, :id, :ref_name, {:include_blank => '--'}) %>
        </div>
      <% end %>
    </div>
    <% end %>
  <div class="actions">
    <p><%= f.submit "Save" %></p>
  </div>
<% end %>

    </div>
</div>

