<%= simple_form_for @publication, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Publication Info</legend>
      <%= f.input :topic %>
      <%= f.association :target_journal, :collection => Journal.all, :label_method => :journal_abbr, :include_blank => '--' %>
      <%= f.input :deadline %>
    <hr class="bs-docs-separator">
      <%= f.association :first_author, :collection => Author.all, :label_method => :auth_name %>
      <%= f.association :second_author, :collection => Author.all, :label_method => :auth_name, :include_blank => '--' %>
      <%= f.association :third_author, :collection => Author.all, :label_method => :auth_name, :include_blank => '--' %>
    <hr class="bs-docs-separator">
      <%= f.association :responsible_person, :collection => Author.all, :label_method => :auth_name %>
      <%= f.association :proofreader, :collection => Author.all, :label_method => :auth_name, :include_blank => '--' %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', publications_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

