<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> 
          prohibited this publication from being saved:</h2>
      <p>There were problems with the following fields:</p>
      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="formsection">
    <table><tr><td>
        <%= f.label :topic %>
        <%= f.text_field :topic %>
    </td><td>
        <%= f.label :target_journal %>
        <%= collection_select(:publication, :target_journal_id, Journal.all, :id, :journal_abbr, {:include_blank => '--'}) %>
    </td><td>
        <%= f.label :deadline %>
        <%= f.text_field :deadline %>
    </td></tr></table>
  </div>
  <div class="formsection">
    <table>
      <tr><td>
          <%= f.label :first_author %>
          <%= collection_select(:publication, :first_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td><td>
          <%= f.label :second_author %>
          <%= collection_select(:publication, :second_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td><td>
          <%= f.label :third_author %>
          <%= collection_select(:publication, :third_author_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
    </tr></table>
  </div>

  <div class="formsection">
    <table>
      <tr>
      <td class='ralign'>
      <p><div class="ui-icon ui-icon-help" title='This is the person responsible for keeping this publication up to date'></div>
      </p>
      </td>
      <td>
          <b><%= f.label :responsible_person %> </b>
          <%= collection_select(:publication, :responsible_person_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td><td>
          <%= f.label :proofreader %>
          <%= collection_select(:publication, :proofreader_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
      </td></tr></table>
  </div>


    <% @publication.pub_statuses.each_with_index do |s, key| %>
    <div class="formsection">
      <%= f.fields_for :pub_statuses, s do |g| %>
        <div class="field">
        <table>
          <tr>
            <td class="lalign">
              <%= g.label :status_id, "Status ##{key+1}" %>
            </td>
            <td class="ralign">
              <strong><%= "Delete Status ##{key+1}?" %></strong>
              <%= g.check_box :_destroy %>
            </td>
          </tr>
        </table>
        </div>
        <table><tr><td>
          <div class="field">
            <%= g.label :select_status %>
            <%= g.collection_select(:status_id, Status.all, :id, :status_str, {:include_blank => '--'}) %><%= g.collection_select(:person_responsible_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
          </div>
        </td><td>
          <div class="field">
            <%= g.label :due_date %>
            <%= g.text_field :due_date %>
          </div>
        </td></tr></table>
        <div class="field">
          <%= g.label :description %>
          <%= g.text_field :description, :size => 75 %>
        </div>
      <% end %>
    </div>
    <% end %>
    <% @publication.pub_refs.each_with_index do |s, key| %>
    <div class="formsection">
      <%= f.fields_for :pub_refs, s do |g| %>
        <div class="field">
        <table>
          <tr>
            <td class="lalign">
              <%= g.label :referee, "Referee ##{key+1}" %>
            </td>
            <td class="ralign">
              <strong><%= "Delete Referee ##{key+1}?" %></strong>
              <%= g.check_box :_destroy %>
            </td>
          </tr>
        </table>
        </div>
        <div class="field">
          <%= g.collection_select(:referee_id, Referee.all, :id, :ref_name, {:include_blank => '--'}) %>
        </div>
      <% end %>
    </div>
    <% end %>

    <% @publication.attachments.each_with_index do |s, key| %>
    <div class="formsection">
      <%= f.fields_for :attachments, s do |g| %>
        <div class="field">
        <table>
          <tr>
            <td class="lalign">
              <%= g.label :attachment, "Attachment ##{key+1}" %>
            </td>
            <td class="ralign">
              <strong><%= "Delete attachment ##{key+1}?" %></strong>
              <%= g.check_box :_destroy %><br />
            </td>
          </tr>
        </table>
        </div>
        <div class="field">
        <div class="lalign">
          <strong><%= "#{s.file_name}"  %></strong>
          <% if s.attachment.blank? %>
            <%= g.file_field :attachment, :disable => true %>
           <i> please upload a file </i> 
          <% else %>
            <%= g.file_field :attachment, :disable => true %>
          <% end %>
        </div>
        <div class="ralign">
          <strong>version</strong>
          <%= g.number_field :version, :min => 0 %>
        </div>
        </div>
        <div class="field">
          <%= g.label :comment %>
          <%= g.text_field :comment, :size => 70 %>
        </div>
      <% end %>
    </div>
    <% end %>

  <div class="actions">
    <p><%= f.submit "Submit" %></p>
  </div>
<% end %>
