
<table id="paper_table"  class="table table-bordered table-condensed  table-hover">
<thead>
  <tr class="subheadingone" style="cursor:default;">
    <th>&nbsp;</th>
    <th>Topic</th>
    <th>Authors</th>
    <th>Journal</th>
    <th>Status(es)</th>
    <th>Deadline</th>
    <th>Last Updated...</th>
  </tr>
</thead>
<tbody>
  <% @publications.each do |paper| %>
    <% if user_signed_in? %>
      <tr onclick="location.href='<%= publication_path(paper) %>'" style="cursor:pointer;">
    <% else %>
      <tr onclick="location.href='<%= publication_path(paper) %>'" style="cursor:pointer;">
    <% end %>
      <td style="cursor:default;">
        <% unless paper.manuscripts.empty? %>
        <%= link_to '<i class="btn btn-large icon-file"> </i>'.html_safe, "#{paper.manuscripts.first.manuscript}" %>
        <% end %>
      </td>
      <td>
        <em><%= paper.topic %></em>
      </td>
      <td>
        <small><%= paper.author_list %></small>
      </td>
      <td>
        <% if paper.target_journal.nil? %>
          &nbsp;--
        <% else %>
          <small><abbr title="<%= paper.target_journal.journal_name %>"><%= paper.target_journal.journal_abbr %></abbr></small>
        <% end %>
      </td>
      <td>
        <%= link_to '<i class="btn btn-mini icon-plus pull-right"> </i>'.html_safe, new_publication_pub_status_jcn_url(paper) %>
          <% paper.pub_statuses.each do |pub_status| %>
            <% if pub_status.description.empty? %>
              <small><span style="color:<%= pub_status.status_color %>"><%= "#{pub_status.status_string}" %></span></small>
            <% else %>
              <small><abbr title="<%= pub_status.description %>"><span style="color:<%= pub_status.status_color %>"><%= "#{pub_status.status_string}" %></span></abbr></small>
            <% end %>
          <% end %>
      </td>
      <td>
         <% if paper.deadline.nil? %>
          &nbsp;--
        <% else %>
          <small><%= paper.deadline %></small>
        <% end %>
      </td>
      <td class='muted'>
        <small><%= "#{time_ago_in_words(paper.last_update)} ago." %></small>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
