<table id="paper_table"  class="tablesorter">
<thead>
<tr class="subheadingone" style="cursor:default;">
  <th>&nbsp;</th>
  <th>Topic</th>
  <th>Authors</th>
  <th>Journal</th>
  <th>Status(es)</th>
  <th>Referee(s)</th>
  <th>Deadline</th>
</tr>
</thead>
<tbody>
  <% @publications.each do |paper| %>
    <% if user_signed_in? %>
      <tr onclick="location.href='<%= edit_publication_path(paper) %>'" style="cursor:pointer;">
    <% else %>
      <tr onclick="location.href='<%= publication_path(paper) %>'" style="cursor:pointer;">
    <% end %>
      <td style="cursor:default;">
        <% unless paper.attachments.empty? %>
          <%  attch = image_tag("attachment.png", :height => '20', :width => '20') %>
          <%= link_to attch, "#{paper.attachments.last.attachment}" %>
        <% end %>
      </td>
      <td>
        <%= paper.topic %>
      </td>
      <td>
        <%= paper.author_list %>
      </td>
      <td>
        <% if paper.target_journal.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.target_journal.journal_abbr %>
        <% end %>
      </td>
      <td>
        <ul>
          <% paper.pub_statuses.each do |pub_status| %>
            <li> <span style="color:<%= pub_status.status_color %>"><%= pub_status.status_string %></span></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% paper.referees.each do |ref| %>
            <li>
              <%= ref.name %>
            </li>
          <% end %>
        </ul>
      </td>

      <td>
         <% if paper.deadline.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.deadline %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
