<div id="dialog" title="Basic dialog">
<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
<table class="tic_tac_toe">
  <th>&nbsp;</th>
  <th>Topic</th>
  <th>Authors</th>
  <th>Journal</th>
  <th>Status(es)</th>
  <th>Referee(s)</th>
  <th>Deadline</th>
  <% @publications.each do |paper| %>
    <% if user_signed_in? %>
      <tr ondblclick="location.href='<%= edit_publication_path(paper) %>'" style="cursor:pointer;">
    <% else %>
      <tr ondblclick="location.href='<%= publication_path(paper) %>'" style="cursor:pointer;">
    <% end %>
      <td style="cursor:default;">
        <% unless paper.attachments.empty? %>
          <%  attch = image_tag("attachment.png", :height => '20', :width => '20') %>
          <%= link_to attch, "#{paper.attachments.last.attachment}" %>
        <% end %>
      </td>
      <td>
        <%= paper.topic %>
      </td>
      <td>
        <%= paper.author_list %>
      </td>
      <td>
        <% if paper.target_journal.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.target_journal.journal_abbr %>
        <% end %>
      </td>
      <td style="padding-right:0px;padding-top:0px">
        <div class="ui-state-default ui-corner-bl" style="float:right;" name="statusadd">
        <span class="ui-icon ui-icon-circle-plus" style="cursor:crosshair"></span></div>
        <ul>
          <% paper.pub_statuses.each do |pub_status| %>
            <li> <span style="color:<%= pub_status.status_color %>"><%= pub_status.status_string %></span></li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <% paper.referees.each do |ref| %>
            <li>
              <%= ref.name %>
            </li>
          <% end %>
        </ul>
      </td>

      <td>
         <% if paper.deadline.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.deadline %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
