
<table id="paper_table"  class="table table-bordered table-hover table-condensed table">
<thead>
  <tr class="subheadingone" style="cursor:default;">
    <th>&nbsp;</th>
    <th>Topic</th>
    <th>Authors</th>
    <th>Journal</th>
    <th>Status(es)</th>
    <th>Referee(s)</th>
    <th>Deadline</th>
    <th>Updated At </th>
  </tr>
</thead>
<tbody>
  <% @publications.each do |paper| %>
    <% if user_signed_in? %>
      <tr onclick="location.href='<%= edit_publication_path(paper) %>'" style="cursor:pointer;">
    <% else %>
      <tr onclick="location.href='<%= publication_path(paper) %>'" style="cursor:pointer;">
    <% end %>
      <td style="cursor:default;">
        <% unless paper.attachments.empty? %>
        <%= link_to '<i class="btn btn-large icon-file"> </i>'.html_safe, "#{paper.attachments.last.attachment}" %>
        <% end %>
      </td>
      <td>
        <%= paper.topic %>
      </td>
      <td>
        <%= paper.author_list %>
      </td>
      <td>
        <% if paper.target_journal.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.target_journal.journal_abbr %>
        <% end %>
      </td>
      <td>
        <%= link_to '<i class="btn btn-mini icon-plus pull-right"> </i>'.html_safe, new_publication_pub_status_jcn_url(paper) %>
        <ul>
          <% paper.pub_statuses.each do |pub_status| %>
            <li> <span style="color:<%= pub_status.status_color %>"><%= "#{pub_status.status_string}" %></span></li>
          <% end %>
        </ul>
      </td>
      <td>
        <%= link_to '<i class="btn btn-mini icon-plus pull-right"> </i>'.html_safe, new_publication_pub_ref_jcn_url(paper) %>
        <ul>
          <% if paper.referees.empty? %>
          <% else %>
            <% paper.referees.each do |ref| %>
              <li>
                <%= ref.name unless ref.nil?%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </td>

      <td>
         <% if paper.deadline.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.deadline %>
        <% end %>
      </td>
      <td>
        <%= paper.updated_at %>
      </td>

    </tr>
  <% end %>
</tbody>
</table>
