<table class="tic_tac_toe">
  <th>&nbsp;</th>
  <th>Topic</th>
  <th>Authors</th>
  <th>Journal</th>
  <th>Status(es)</th>
  <th>Referee(s)</th>
  <th>Deadline</th>
  <% @publications.each do |paper| %>
    <% if user_signed_in? %>
      <tr onclick="location.href='<%= publication_path(paper) %>'">
    <% else %>
      <tr onclick="location.href='<%= publication_path(paper) %>'">
    <% end %>
      <td>
        <% unless paper.attachments.empty? %>
          <%=  attch = image_tag("attachment.png", :height => '20', :width => '20') %>
          <% #link_to attch, publication_publication_attachments_path(paper) %>
        <% end %>
      </td>
      <td>
        <%= paper.topic %>
      </td>
      <td>
        <%= paper.author_list %>
      </td>
      <td>
        <% if paper.target_journal.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.target_journal.journal_abbr %>
        <% end %>
      </td>
      <td>
        <table >
          <% paper.pub_statuses.each do |pub_status| %>
            <tr><td bgcolor="<%= pub_status.status_color %>"><%= link_to pub_status.status_string, publication_pub_status_jcns_path(paper) %></td></tr>
          <% end %>
        </table>
      </td>
      <td>
        <ul>
          <% paper.referees.each do |ref| %>
            <li>
              <%= ref.name %>
            </li>
          <% end %>
        </ul>
      </td>

      <td>
         <% if paper.deadline.nil? %>
          &nbsp;--
        <% else %>
          <%= paper.deadline %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
