<h1> Edit Publication <i><%= @publication.topic %></i> </h1>

<%= link_to "Back to Publication", publication_path(@publication) %> |
<%= link_to "Add New Status", new_publication_pub_status_jcn_path(@publication) %> |
<%= link_to "Add New Referee", new_publication_pub_ref_jcn_path(@publication) %> |
<%= link_to "Add New Attachment", new_publication_publication_attachment_path(@publication) %>

<div class="two_col_form">
<%= render 'form' %>
</div>

<% @publication.attachments.each_with_index do |s, i| %>
  <ul>
    <li>
      <%= "#{s.file_name}--version: #{s.version}" %><br />
      <%= link_to "Download attachment?", "#{s.attachment} version: #{s.version}" %>
    </li>
  </ul>
<% end %>

