<h2> Publication information for <i><%= @publication.topic %></i> </h2>
<% unless !user_signed_in? %>
  <%= link_to "Edit this publication", edit_publication_path(@publication) %> |
  <%= link_to "Add New Status", new_publication_pub_status_jcn_path(@publication) %> |
  <%= link_to "Add New Referee", new_publication_pub_ref_jcn_path(@publication) %> |
  <%= link_to "Add New Attachment", new_publication_publication_attachment_path(@publication) %>
<% end %>
<table id="show_table">
  <tr>
    <td><strong> Topic</strong> </td>
    <td>
      <%= @publication.topic %>
    <td>
  </tr>
  <tr>
  <td><strong> Author(s)</strong> </td>
    <td>
      <%= @publication.author_list %>
    </td>
  </tr>
  <td><strong> Responsible Person </strong> </td>
    <td>
      <p><%= @publication.responsible_person.auth_name %></p>
      <% if @publication.responsible_person == @publication.first_author %>
      <p><i>&nbsp; set to the first author by default</i></p>
      <% end %>
    </td>
  </tr>
  <td><strong> Proofreader </strong> </td>
    <td>
      <%= @publication.proofreader.auth_name unless @publication.proofreader.nil? %>
    </td>
  </tr>
  <tr>
  <td><strong> Target Journal</strong> </td>
    <td>
      <%= @publication.target_journal.journal_name unless @publication.target_journal.nil? %>
    </td>
  </tr>
  <tr>
  <td><strong> Deadline?</strong> </td>
    <td>
    <% if @publication.deadline.nil? %>
      No Deadline at this time 
    <% else %>
      <%= "#{@publication.deadline}" %>
    <% end %>
    </td>
  </tr>
  <tr>
  <td><strong> Status(es)</strong> </td>
  <td>
  <% if @publication.statuses.count == 0 %>
    No statuses at this time.
  <% else %>
    <ul>
      <% @publication.pub_statuses.each_with_index do |s, i| %>
      <li>
          <%= s.status_string %> <i><%= "...to be finished by #{s.due_date}" unless s.due_date.nil? %></i><br/>
          <%= "--#{s.description}" unless s.description.empty? %>
      </li>
      <% end %>
    </ul>
  <% end %>
  </td>
  </tr>
  <tr>
    <td><strong> Referee(s)</strong> </td>
    <td>
      <% if @publication.referees.count == 0 %>
        No referees have been added.
      <% else %>
        <ol>
          <% @publication.pub_refs.each_with_index do |s, i| %>
          <li>
              <%= s.referee.name %>
          </li>
          <% end %>
        </ol>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong> Attachment(s) </strong></td>
    <td>
      <% if @publication.attachments.count == 0 %>
        No attachments have been added.
      <% else %>
        <ol>
          <% @publication.attachments.each_with_index do |s, i| %>
            <li> <strong>version</strong>:<%= s.version %><br />
                 <strong>comments</strong>:<%= s.comment %><br />
                 <%= link_to "Download", "#{s.attachment}"%></li>
                 <%= link_to "Download", "#{s.attachment}" unless !(user_signed_in?)%></li>
          <% end %>
        </ol>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong> Manuscript(s) </strong></td>
    <td>
      <% if @publication.manuscripts.count == 0 %>
        No attachments have been added.
      <% else %>
        <ol>
          <% @publication.manuscripts.each_with_index do |s, i| %>
            <li> <strong>version</strong>:<%= s.version %><br />
                 <strong>comments</strong>:<%= s.comment %><br />
                 <%= link_to "Download", "#{s.manuscript}"%></li>
                 <%= link_to "Download", "#{s.manuscript}" unless !(user_signed_in?)%></li>
          <% end %>
        </ol>
      <% end %>
    </td>
  </tr>

</table>
