<h2> Snapshot for <em><%= @publication.topic %></em> </h2>
<%= render 'publication_controls' %>
<dl class='dl-horizontal'>
  <dt>Topic</dt>
    <dd>
      <%= @publication.topic %>
    </dd>
  <dt>Target Journal</dt>
    <dd>
      <%= @publication.target_journal.journal_name unless @publication.target_journal.nil? %>
    </dd>
  <dt>Deadline?</dt>
    <dd>
    <% if @publication.deadline.nil? %>
      No Deadline at this time 
    <% else %>
      <%= "#{@publication.deadline}" %>
    <% end %>
    </dd>

  <dt>Author(s)</dt>
    <dd>
      <%= @publication.author_list %>
    </dd>
  <dt>Responsible Person</dt>
    <dd>
      <%= @publication.responsible_person.auth_name %>
    </dd>
      <% if @publication.responsible_person == @publication.first_author %>
      <dd class='muted'> set to the first author by default</dd>
      <% end %>
  <dt>Proofreader</dt>
    <% if @publication.proofreader.nil? %>
      <dd class='muted'>No proofreader has been added.</dd>
    <% else %>
      <dd><%= @publication.proofreader.auth_name unless @publication.proofreader.nil? %>
      </dd>
    <% end %>
  <hr class="bs-docs-separator">
  <dt>Status(es)</dt>
    <dd>
    <% if @publication.statuses.count == 0 %>
      <dd class='muted'>No statuses at this time.</dd>
    <% else %>
      <ul>
        <% @publication.pub_statuses.each_with_index do |s, i| %>
        <li id='pub_show_status_<%=i%>'>
            <%= s.status_string %> <i><%= "...to be finished by #{s.due_date}" unless s.due_date.nil? %></i><br/>
            <%= "--#{s.description}" unless s.description.empty? %>
        </li>
        <% end %>
      </ul>
    <% end %>
    </dd>
  <hr class="bs-docs-separator">
  <dt>Referee(s)</dt>
    <dd>
      <% if @publication.referees.count == 0 %>
        <dd class="muted">No referees have been added.</dd>
      <% else %>
    
        <ol>
          <% @publication.pub_refs.each_with_index do |s, i| %>
          <li>
              <%= s.referee.name %>
          </li>
          <% end %>
        </ol>
      <% end %>
    </dd>
  <hr class="bs-docs-separator">
  <dt>Attachment(s)</dt>
    <dd>
      <% if @publication.attachments.count == 0 %>
        <dd class='muted'>No attachments have been added.</dd>
      <% else %>
        <ol>
          <% @publication.attachments.each_with_index do |s, i| %>
            <li> <strong>version</strong>:<%= s.version %><br />
                 <strong>comments</strong>:<%= s.comment %><br />
                 <%= link_to "Download", "#{s.attachment}"%></li>
                 <%= link_to "Download", "#{s.attachment}" unless !(user_signed_in?)%></li>
            </li>
          <% end %>
        </ol>
      <% end %>
    </dd>
  </tr>
  <tr>
  <hr class="bs-docs-separator">
  <dt>Manuscript(s)</dt>
    <dd>
      <% if @publication.manuscripts.count == 0 %>
        <dd class='muted'>No manuscripts have been added.</dd>
      <% else %>
        <ol>
          <% @publication.manuscripts.each_with_index do |s, i| %>
            <li> <strong>version</strong>:<%= s.version %><br />
              <strong>comments</strong>:<%= s.comment %><br />
              <%= link_to "Download", "#{s.manuscript}"%></li>
              <%= link_to "Download", "#{s.manuscript}" unless !(user_signed_in?)%></li>
              <%= link_to "Add New Version", new_publication_manuscript_path(@publication, :manuscript_id => s.id) %>
          <% end %>
        </ol>
      <% end %>
    </dd>
