<%= form_for([@publication,@pub_status]) do |f| %>
    <div class="formsection">
  <table><tr><td>
      <%= f.label :status_id %>
      <%= collection_select(:pub_status_jcn, :status_id, Status.all, :id, :status_str, {:include_blank => '--'}) %>
  </td><td>
      <%= f.label :person_responsible %>
      <%= collection_select(:pub_status_jcn, :person_responsible_id, Author.all, :id, :auth_name, {:include_blank => '--'}) %>
  </td><td>
      <%= f.label :due_date %>
      <%= f.text_field :due_date %>
  </td></tr></table>
    </div>
  <div class="formsection">
    <%= f.label :description %>
    <%= f.text_field :description, :size => 100  %>
  </div>
  <div class="actions">
    <p><%= f.submit "Update" %></p>
  </div>
<% end %>

