<div class="two_col_form">
  <%= form_for(@referee) do |f| %>
    <% if @referee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@referee.errors.count, "error") %> prohibited this referee from being saved:</h2>
        <p>There were problems with the following fields:</p>
        <ul>
        <% @referee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table><tr><td>
      <div class="formsection">
        <%= f.label :firstname %>
        <%= f.text_field :firstname %>
      </div>
    </td><td>
      <div class="formsection">
        <%= f.label :lastname %>
        <%= f.text_field :lastname %>
      </div>
    </td></tr></table>
      <div class="formsection">
        <%= f.label :email %>
        <%= f.text_field :email, :size => 100  %>
      </div>
      <div class="formsection">
        <%= f.label :department %>
        <%= f.text_field :department, :size => 100  %>
      </div>
      <div class="formsection">
        <%= f.label :organization %>
        <%= f.text_field :organization, :size => 100  %>
      </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
