<%= form_for(@publication_attachment, :html => {:multipart => true}) do |f| %>
  <% if @publication_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication_attachment.errors.count, "error") %> prohibited this publication_attachment from being saved:</h2>

      <ul>
      <% @publication_attachment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attachment %><br />
    <%= f.file_field :attachment %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :publication_id %><br />
    <%= f.number_field :publication_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
