<h1>Listing Attachments</h1>

<table>
  <tr>
    <th></th>
    <th>Attachment</th>
    <th>Version</th>
    <th>Publication</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publication_attachments.each do |publication_attachment| %>
  <tr>
    <td><%= button_to "Download", "#{publication_attachment.attachment}", :method => :get %></td>
    <td><%= publication_attachment.file_name %></td>
    <td><%= publication_attachment.version %></td>
    <td><%= publication_attachment.publication.topic %></td>
    <td><%= publication_attachment.comment %></td>
    <td><%= link_to 'Edit', edit_publication_attachment_path(publication_attachment) %></td>
    <td><%= link_to 'Destroy', publication_attachment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
