<h2><%= @publication_attachment.file_name %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Attachment:</b><%= button_to "Download", "#{@publication_attachment.attachment}", :method => :get %>
</p>

<p>
  <b>Version:</b>
  <%= @publication_attachment.version %>
</p>

<p>
  <b>Comment:</b>
  <%= @publication_attachment.comment %>
</p>


<%= link_to 'Edit', edit_publication_attachment_path(@publication_attachment) %> |
<%= link_to 'Back', publication_attachments_path %>
