<div class="two_col_form">
  <%= form_for(@journal) do |f| %>
    <% if @journal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>
      <p>There were problems with the following fields:</p>
        <ul>
        <% @journal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table><tr><td>
    <div class="formsection">
      <%= f.label :journal_name %>
      <%= f.text_field :journal_name, :size => 70  %>
    </div>
    </td><td>
    <div class="formsection">
      <%= f.label :journal_abbr %>
      <%= f.text_field :journal_abbr, :size => 20  %>
    </div>
    </td></tr></table>

    <div class="formsection">
      <%= f.label :url %>
      <%= f.text_field :url, :size => 100  %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
