<p> <%= @intro %> </p>

<p> <%= @greeting %> </p>
<% if !@author.papers.empty? %>
  <table border=1px cellspacing=0px width=600px>
      <thead>
      <tr>
        <th>Topic     </th>
        <th>Authors   </th>
        <th>Journal   </th>
        <th>Status(es)</th>
        <th>Deadline  </th>
      </tr>
      </thead>
      <% @author.papers.each do |paper| %>
      <tr>
          <td>
            <%= link_to paper.topic, "http://zenobi-vpn/milapa/publications/#{paper.id}/edit" %>
          </td>
          <td>
            <%= paper.author_list %>
          </td>
        <td>
          <% if paper.target_journal.nil? %>
            &nbsp;--
          <% else %>
            <%= paper.target_journal.journal_abbr %>
          <% end %>
        </td>
        <td>
        <table>
            <% paper.pub_statuses.each do |pub_status| %>
          <tr>
              <td> 
              - <span style="color:<%= pub_status.status_color %>"> <%= "#{pub_status.status_string}" %></span>
              </td>
          </tr>
            <% end %>
        </table>
        </td>
        <td>
           <% if paper.deadline.nil? %>
            &nbsp;--
          <% else %>
            <%= paper.deadline %>
          <% end %>
        </td>
      <% end %>
  </table>
  
  <p> <%= @outro1%> </p>
  <p> <%= @outro2%> </p>

  <p>Thank you,</p>

  <p> The Minor Lab Paper Database Team</p>
<% end %>


