<div class="two_col_form">
  <%= form_for(@author) do |f| %>
    <% if @author.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

        <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="formsection">
      <%= f.label :firstname %>
      <%= f.text_field :firstname %>
    </div>
    <div class="formsection">
      <%= f.label :lastname %>
      <%= f.text_field :lastname %>
    </div>
    <div class="formsection">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="formsection">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="formsection">
      <%= f.label :skype %>
      <%= f.text_field :skype %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
