<!DOCTYPE html>
<html>
<head>
  <title>Minor Lab Papers</title>
  <% #stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <% #stylesheet_link_tag 'application'%>
  <%= stylesheet_link_tag 'milapa/text_n_colors'%>
  <%= stylesheet_link_tag 'milapa/2_col_liquid'%>
  <% #stylesheet_link_tag 'table/3_col_liquid'%>
  <% #stylesheet_link_tag 'table/3_col_liquid_faux'%>
  <% #stylesheet_link_tag 'table/3_col_rounded'%>
  <%= stylesheet_link_tag 'milapa/tables'%>
  <%= stylesheet_link_tag 'milapa/form_labels_above'%>
  <%= stylesheet_link_tag "milapa/errors" %>
  <%= stylesheet_link_tag 'milapa/nav_bar'%>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "milapa/jquery-ui-milapa" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body >
  <div id="main_wrapper">
    <div id="footer">
      <div id="footer_inner">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. | Not you?
          <%= link_to "Sign out", destroy_user_session_path %> 
          <% unless !(current_user.email == "wladek@iwonka.med.virginia.edu") %>
            | <%= link_to "Change Password", edit_user_registration_path %>
          <% end %>
        <% else %>
          <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>
    <div id="header">
      <div id="header_inner">
        <% logo = image_tag("logo.png", :alt => "Minor Lab Papers") %>
        <%= link_to logo, root_path %>
      </div>

    </div>
    <div id="header">
      <div id="nav_bar" class="lalign">
        <ul>
          <li><%= link_to "View All Publications", publications_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "View Accepted Publications", publications_accepted_papers_path %></li>
          <li><%= link_to "Urgent Publications", publications_urgent_papers_path unless !(current_user.username == "wladek") %></li>
        <% end %>
          <li><%= link_to "Add Publication", new_publication_path unless !user_signed_in? %></li>
        </ul>
      </div>
      <div id="nav_bar" class="ralign">
        <ul>
      <% if user_signed_in? %>
          <li><strong>CREATE NEW:</strong></li>
          <li><%= link_to "Author", new_author_path    %></li>
          <li><%= link_to "Referee", new_referee_path  %></li>
          <li><%= link_to "Journal", new_journal_path  %></li>
      <% else %>
        <li>&nbsp;</li>
      <% end %>
        </ul>
      </div>


    </div>
    <div id="content">
      <div id="content_inner">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </div>
</body>
</html>
